@tailwind base;
@tailwind components;
@tailwind utilities;


#scroll::-webkit-scrollbar
{
    display: none;
}
#job::-webkit-scrollbar
{
    display: none;
}
#scroller::-webkit-scrollbar
{
    display: none;
}